* {
  box-sizing:border-box;
}
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.login-page{
  height: 100vh;
  background-color: #f4f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.login-container {
  width: 400px;
  background: white;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0 , 0.15);
  z-index: 2;
}
h1{
  text-align: center;
  color: #1f2b5c;
  margin: bottom 35px; 
}
.input-box {
  height: 55px;
  border: 1px solid #d8def0;
  border-radius: 12px;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 0 15px;
  margin-bottom:18px;
}
.input-box input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;

}
.input-box small {
  color:#777;
  
}
.forgot{
  text-align: right;
  color: #7380a5;
  font-size: 14px;

}
button{
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 12px;
  cursor:pointer;
  font-size:17px ;
}
.login-btn{
background: #397ff5;
color: white;
}
.or{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
  color: #777;
}
.or span {
  height: 1px;
  background: #777;
  width: 100px;
}
.social{
  margin-top: 15px;
  background: white;
  border: 1px solid #ddd;
}
.facebook {
  background: #4267f5;
  color: white;
}
.circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(20px);

}
.circle1 {
  width: 300px;
  height: 300px;
  background: #bcd8ff;
  top: 50px;
  left: 50px;

}
.circle2{
  width: 250px;
  height: 250px;
  background: #d8ffe1;
  bottom: 50px;
  right:50px;
}